{% load markdown_extras %}
{% load bleach_tags %}

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-5">
            <a href="{% url 'blog:post' slug=p.slug %}">
                <img src="{{ p.thumbnail.url }}" class="card-img-top" alt="...">
            </a>
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <a href="{% url 'blog:post' slug=p.slug %}">
                    <h5 class="card-title">{{ p.title }}</h5>
                </a>
                <p class="card-text"><small class="text-muted" style="text-align:left;">{{ p.author }}</small><small
                        class="text-muted" style="float:right;">{{ p.publish_date.date }}</small></p>
                <p class="card-text">{{ p.description|markdown|bleach }}</p>
            </div>
        </div>
    </div>
</div>