{% extends 'main/base.html' %}
{% load static %}
{% load martortags %}
{% load links %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}Lazy Data Scientist - {{ object.title }}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
End SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}
<!-- ================================
End CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
    <script>
        $('.martor-preview pre').each(function (i, block) {
            hljs.highlightBlock(block);
        });
    </script>
{% endblock %}
<!-- ================================
End script blocks
================================= -->
    

