{% extends 'portfolio/base.html' %}
{% load markdown_extras %}
{% load links %}
{% load bleach_tags %}

<!-- ================================
Start Content
================================= -->
{% block content %}
    <section>
        <div class="innerPageBannerCol">
            <div class="container">
                <div class="row g-4 g-md-3  align-items-center">
                    <div class="col-md-12">
                        <div class="bannerContent">
                            <h1 class="xlTitle pb-md-3">{{ object.name|title }}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container post">
                {{ object.body|internal_links|markdown|bleach }}
            </div>
        </div>
    </section>
{% endblock %}
<!-- ================================
End Content
================================= -->
    

