{% load markdown_extras %}
{% load bleach_tags %}

<div class="card h-100 certificate" >
  <div class="card-body">
    <h5 class="card-title">
        {% if c.url %}<a href="{{ c.url }}">{% endif %}
        {{ c.title }}
        {% if c.url %}</a>{% endif %}
    </h5>
      <h6 class="card-subtitle mb-2 text-muted">
          <span style="text-align:left;">{{ c.institution }}</span>
          <span style="float:right;">{{ c.date_received }}</span>
      </h6>
    <p class="card-text">
        {{ c.description|markdown|bleach }}
    </p>
  </div>
</div>

