{% load static %}
{% load martortags %}

<div class="row pb-3">
    <div class="col">
        <h4 class="smText regular">Recent Software Projects</h4>
    </div>
    <div class="col-auto">
        <a href="{% url 'portfolio:software-projects' %}" class="simpleLink">View all</a>
    </div>
</div>
<div class="row g-3">
    {% for p in software_projects %}
        <div class="col-lg-6">
            <div class="cardStyle1">
                <h4 class="mdTitle cs1Title"><a
                        href="{% url 'portfolio:software-project' slug=p.slug %}">{{ p.name }}</a></h4>
                <ul class="cardOptionCol">
                    <li>{{ p.date_modified.date }}</li>
                </ul>
                <p>{{ p.body|safe_markdown|slice:":200" }}
                    <a href="{% url 'portfolio:software-project' slug=p.slug %}">...</a>
                </p>
            </div>
        </div>
    {% endfor %}
</div>