{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}Lazy Data Scientist - Home{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
End SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
End CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
End script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
    <section>
        <div class="bannerSection">
            <div class="container">
                <div class="row g-4 g-md-3  align-items-center">
                    <div class="col-md-auto order-md-last">
                        <div class="bannerUserImg">
                            <img src="{{ me.profile.avatar.url }}" alt="...">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="bannerContent">
                            <h1 class="xlTitle pb-3">Hi, I’m {{ me.first_name|title }}, <br>
                                a {{ me.profile.profile.job_title }}</h1>
                            <p>{{ me.profile.bio }}</p>
                            <div class="bannerBtnCol">
                                <div class="row">
                                    <div class="col-auto">
                                        <a download href="{{ me.profile.profile.cv.url }}" class="btn btnPrimary">Download
                                            CV</a>
                                    </div>
                                    <div class="col-auto">
                                        <a href="{% url 'contact:contact_page' %}" class="btn btnOutline">Contact</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="sectionSpace pt-0">
            <div class="container">
                {% include 'resume/partials/skills.html' %}
            </div>
        </div>
    </section>

    <section>
        <div class="sectionSpaceSm lightBg">
            <div class="container">
                {% include 'resume/partials/certificates.html' %}
            </div>
        </div>
    </section>

    <section>
        <div class="sectionSpace">
            <div class="container">
                {% include 'resume/partials/portfolio.html' %}
                {% include 'resume/partials/testimonials.html' %}
            </div>
        </div>
    </section>

    <section>
        <div class="sectionSpaceSm lightBg">
            <div class="container">
                {% include 'resume/partials/recent_posts.html' %}
            </div>
        </div>
    </section>
{% endblock %}
<!-- ================================
End Content
================================= -->