{% extends 'core/base.html' %}
{% load static %}
{% load links %}
{% load markdown_extras %}
{% load bleach_tags %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}Lazy Data Scientist - {{ object.title }}{% endblock %}
{% block description %}{{ object.meta_description }}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
End SEO blocks
================================= -->

<!-- ================================
Start CSS
================================= -->
{% block extend_header %}
    <link href="{% static 'css/syntax.css' %}" rel="stylesheet">
    <link href="{% static 'css/post.css' %}" rel="stylesheet">
{% endblock %}
<!-- ================================
End CSS
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
    <section>
        <div class="innerPageBannerCol">
            <div class="container">
                <div class="row g-4 g-md-3  align-items-center">
                    <div class="col-md-12">
                        <div class="bannerContent">
                            <h1 class="xlTitle pb-md-3">{{ object.title|title }}</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-auto">
                        <div class="authorCol">
                            <h4 class="smTitle pb-3 text-muted">{{ object.author|title }}</h4>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="dateCol">
                            <h4 class="smTitle pb-3 text-muted">{{ object.publish_date.date }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container post">
                {{ object.body|internal_links|markdown|bleach }}
            </div>
        </div>
    </section>
{% endblock %}
<!-- ================================
End Content
================================= -->