{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}Lazy Data Scientist - Home{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
End SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
End CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
End script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
    <section>
        <div class="bannerSection">
            <div class="container">
                <div class="row g-4 g-md-3  align-items-center">
                    <div class="col-md-auto order-md-last">
                        <div class="bannerUserImg">
                            <img src="{{ me.profile.avatar.url }}" alt="...">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="bannerContent">
                            <h1 class="xlTitle pb-3">Hi, I’m {{ me.first_name|title }}, <br>
                                a {{ me.profile.job_title }}</h1>
                            <p>{{ me.profile.bio }}</p>
                            <div class="bannerBtnCol">
                                <div class="row">
                                    <div class="col-auto">
                                        <a download href="{{ me.profile.cv.url }}" class="btn btnPrimary">Download
                                            CV</a>
                                    </div>
                                    <div class="col-auto">
                                        <a href="{% url 'contact:contact_page' %}" class="btn btnOutline">Contact</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="sectionSpace pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-auto">
                        <div class="softSkillCol">
                            <h4 class="smTitle pb-3">Soft Skills</h4>
                            {% for sk in me.profile.soft_skills.all %}
                                {% include 'resume/partials/soft_skill.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md">
                        <h4 class="smTitle pb-3">Technical Skills</h4>
                        <div class="progressCol">
                            <div class="progressCard">
                                {% for sk in me.profile.technical_skills.all %}
                                    {% include 'resume/partials/technical_skill.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="sectionSpaceSm lightBg">
            <div class="container">
                <div class="row pb-3">
                    <div class="col">
                        <h4 class="smText regular">Certificates</h4>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'main:certificates' %}" class="simpleLink">View all</a>
                    </div>
                </div>
                <div class="sliderOuter">
                    <div class="swiper certificatesSlider">
                        <div class="swiper-wrapper">
                            {% for c in certificates %}
                                <div class="swiper-slide">
                                    {% include 'resume/partials/certificate_card.html' %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="cert-swiper-button-next swiper-button-next swiperBtnStyle"></div>
                    <div class="cert-swiper-button-prev swiper-button-prev swiperBtnStyle"></div>
                    <div class="swiper-pagination swiperPaginationStyle posInitial"></div>
                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="sectionSpace">
            <div class="container">
                {% include 'resume/partials/portfolio.html' %}
                {% include 'resume/partials/testimonials.html' %}
            </div>
        </div>
    </section>

    <section>
        <div class="sectionSpaceSm lightBg">
            <div class="container">
                <div class="row pb-3">
                    <div class="col">
                        <h4 class="smText regular">Recent posts</h4>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'blog:posts' %}" class="simpleLink">View all</a>
                    </div>
                </div>
                <div class="sliderOuter">
                    <div class="swiper postsSlider">
                        <div class="swiper-wrapper">
                            {% for p in posts %}
                                <div class="swiper-slide">
                                    {% include 'blog/partials/post_card.html' %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="post-swiper-button-next swiper-button-next swiperBtnStyle"></div>
                    <div class="post-swiper-button-prev swiper-button-prev swiperBtnStyle"></div>
                    <div class="swiper-pagination swiperPaginationStyle posInitial"></div>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}
<!-- ================================
End Content
================================= -->