{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}Lazy Data Scientist - Home{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
End SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
End CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
End script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
    <section>
        <div class="bannerSection">
            <div class="container">
                <p>Welcome to your Personal Website</p>
            </div>
        </div>
    </section>
{% endblock %}
<!-- ================================
End Content
================================= -->