{% load static %}


<div class="row">
    <div class="col-md-auto">
        <div class="keySkillCol">
            <h4 class="smTitle pb-3">Key Skills</h4>
            {% for sk in me.profile.profile.soft_skills.all %}
                <div class="keySkillCard">
                    <div class="ksIconCol">
                        <img src="{{ sk.icon.url }}" alt="...">
                    </div>
                    <span class="ksText">{{ sk.name }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md">
        <h4 class="smTitle pb-3">Technical Skills</h4>
        <div class="progressCol">
            <div class="progressCard">
                {% for sk in me.profile.profile.technical_skills.all %}
                    <div class="progressCol">
                        <span class="progressLbl">{{ sk.name }}</span>
                        <div class="row g-2 align-items-center">
                            <div class="col">
                                <div class="progress progressStyle">
                                    <div class="progress-bar" role="progressbar"
                                         style="width: {{ sk.score }}%"
                                         aria-valuenow="{{ sk.score }}" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <span class="pLbl">{{ sk.score }}%</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
